#gallery-cards {
    margin: 5px 0 ;

    width: 100%;

    display: grid;
    grid-template-columns: 1fr;

    grid-gap: 10px;
}

@media only screen and (min-width:400px) {
    #gallery-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width:600px) {
    #gallery-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width:800px) {
    #gallery-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

.gallery-card {
    margin: 10px 0;
    padding: 0;

    display: block;
    position: relative;

    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    text-decoration: none;
    color: black;
}

.gallery-card:hover{
    text-decoration: none;
}


.gallery-card:visited{
    color: black;
}

.gallery-card .id {
    padding: 3px 7px 3px 10px;

    position: absolute;
    top: 5px;
    right: 0px;

    z-index: 100;

    background-color: whitesmoke;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    color: grey;
    font-size: 1em;
}

.gallery-card img {
    margin: 0;

    display: block;

    width: 100%;
}

.gallery-card h2 {
    margin: 0;
    padding: 10px;

    text-align: center;

}

.gallery-card p {
    margin: 0;
    padding: 0;

    max-height: 0;
    box-sizing: border-box;

    display: block;
    overflow: hidden;
}

.gallery-card:hover p {
    max-height: 1000px;
    padding: 0 10px 10px 10px ;
}