@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('navbar.css');
@import url('footer.css');

head, body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 70px; /*space for navbar*/
    
    min-height: 100vh;

    background: url("/static/main/img/circles-light.png");
    /* Background pattern from sublte patterns (toptal.com)*/
    font-family: 'Roboto';

    overflow-x: hidden;

    position: relative;
}

body.jeg {
    background: url("/static/main/img/ignasi_pattern_s.png");
    /* Background pattern from sublte patterns (toptal.com)*/
}

body:after {
    content: "";

    width: 100%;
    height: 100px;

    display: table;
    clear: both;
}


#main-content {
    margin: 0 auto;
    padding: 10px;
    padding-top: 15px;
}


h1 {
    margin: 15px 0;
}

p {
    margin: 5px 0;
}

a {
    color: #1976D2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #1976D2;
}

section {
    margin: 5px 0;
    padding: 0;

    width: 100%;

    position: relative;
    display: block;
    box-sizing: border-box;
}



.floating {
    margin: 5px 0;
    padding: 10px;

    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.no-p {
    padding: 0;
}

.title {
    margin: 5px 0;
    display: inline-block;
}

.hoverable {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.hoverable:hover {
    box-shadow: 0 7px 7px rgba(0,0,0,0.25), 0 9px 9px rgba(0,0,0,0.22);
}

.clear-b {
    clear: both;
}

.clear-l {
    clear: left;
}

.clear-r {
    clear: right
}


.left {
    float: left;
}

.right {
    float: right;
    text-align: right;
}

.middle {
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}

.frosted {
    background-color: #FFFA;
}

.line, line {
    width: 100%;
    height: 0;

    display: block;

    margin: 5px 0;
    border-bottom: 1px solid lightgray;
}