@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

head, body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 70px; /*space for navbar*/

    min-height: calc(100vh - 70px); /*100vh - space for navbar*/

    background: url("/static/main/img/circles-light.png");
    /* Background pattern from sublte patterns (toptal.com)*/
    font-family: 'Roboto';

    overflow-x: hidden;

    position: relative;
}

body.jeg {
    background: url("/static/main/img/ignasi_pattern_s.png");
    /* Background pattern from sublte patterns (toptal.com)*/
}

body:after {
    content: "";

    width: 100%;
    height: 100px;

    display: table;
    clear: both;
}
* {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

h1 {
    margin: 15px 0;
}

p {
    margin: 5px 0;
}

a {
    color: #1976D2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #1976D2;
}

nav {
    width: 100vw; 
    height: 70px;

    position: fixed;
    top: 0;
    left: 0;

    box-sizing: border-box;
    border-top: 3px solid #1976D2;

    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);

    font-size: 30px;

    z-index: 500;
}

nav.frosted {
    background-color: #FFF7;
}


#nav-content {
    padding-right: 15px;

    width: 100%;
    max-width: 1060px;
    height: 60px;

    box-sizing: border-box;

    margin: 0 auto;
}


.nav-link {
    height: 67px;

    padding: 5px 15px;

    box-shadow: none;

    color: black;
    text-decoration: none;

    box-sizing: border-box;

    line-height: 60px;
    text-align: center;

    float: left

}

.nav-link:hover {
    text-decoration: none;
    border-bottom: 3px solid #1976D2;
}


.nav-link.active {
    border-bottom: 3px solid #1976D2;
}

.nav-link:visited {
    color: black;
    text-decoration: none;
}
.nav-link:visited {
    color: black;
    text-decoration: none;
}

.nav-logo {
    width: 55px;
    height: 55px;
    
}

.nav-link.img {
    padding: 5px 6px;
}

.nav-link.right {
    float: right;
}

#main-content {
    margin: 0 auto;
    padding-top: 15px;
}

section, .card {
    margin: 10px 0;
    padding: 10px;

    width: 100%;

    position: relative;
    display: block;
    box-sizing: border-box;

    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.hoverable:hover {
    box-shadow: 0 7px 7px rgba(0,0,0,0.25), 0 9px 9px rgba(0,0,0,0.22);
}


footer {
    margin-top: 50px;

    width: 100vw;
    height: 80px;

    clear: both;

    position: absolute;
    bottom: 0;

    background-color: black;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#footer-content {
    margin: 0 auto;
    padding: 10px;

    height: 4em;

    position: relative;

    color: lightgrey;
}

#footer-content *{
    margin: 0;

    position: relative;
}

.clear-b {
    clear: both;
}

.clear-l {
    clear: left;
}

.clear-r {
    clear: right
}


.left {
    float: left;
}

.right {
    float: right;
    text-align: right;
}

.middle {
    width: calc(100vw - 15px);
    max-width: 1060px;
    box-sizing: border-box;
}

.frosted {
    background-color: #FFFA;
}