.slideshow {
    width: 100%;
    height: 100vmin;

    padding: 0;
    margin: 0;

    background-color: whitesmoke;

    position: relative;
}

.slide {
    width: 100%;
    height: 100%;

    position: relative;
    overflow: hidden;

    display: none;
}

.slide.show {
    display: block;
}

.slide, .slide * {
    color: black;
}

.slide:hover {
    text-decoration: none;
}

.slide img {
    margin: auto;

    height: 100%;

    display: block;

    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
}


.slide .caption {
    padding: 5px;

    display: inline;
    
    position: relative;
    top: 65%;
    left: 10px;

    background-color: white;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.slideshow .info {
    box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
}

.slideshow .info#time-indicator {
    height: 25px;

    display: block;

    position: relative;
    bottom: 25px;
}

.slideshow #button-container {
    width: 100%;

    display: block;
    text-align: center;

    position: absolute;
    bottom: 10%;

    z-index: 10;
}

.slideshow button.info {
    margin: 0 5px;

    width: 25px;
    height: 25px;

    display: inline-block;

    border-radius: 50%;
    border: none;

}

button.info.this {
    background-color: white;
}

@media only screen and (min-width: 400px) {
    .slide .caption {
        padding: 10px;

        left: 10%;
        top: 70%;

        font-size: 1.5em;
    }

    .slideshow #button-container {
        bottom: 5%;
    }
}