{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}
Posts
{% endblock title %}

{% block viewname %}posts{% endblock viewname %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/posts.css' %}">
{% endblock head %}


{% block centred_content %}


<section class="floating" id="posts">
    <h1>Posts</h1>
    <line></line>
    <div id="post_list">
        {% for p in posts %}

        <a href="{{ p.get_link }}" class="post {% if p.pinned %} pinned {% elif p.was_published_recently %} new {% endif %}" id="{{ p.id }}">
            <span class="post_id">#{{ p.id }}</span>
            <span class="post_title">{{ p.title }}</span>
            <span class="post_date">{{ p.pub_date.date }}</span>
        </a>
        <line></line>    
        {% endfor %}
    </div>
    <span id="page-nav">
        <a id="previous" href="?page={{page |add:-1}}" class="disabled">«</a>
        <span id="this">{{page}}</span>
        <a id="next" href="?page={{page |add:1}}" class="{% if page >= pages%}disabled{% endif %}">»</a>
    </span>
</section>


{% endblock centred_content %}