
{% assign posts = include.posts | where: "show_in_index", true | sort: "pubdate" | reverse | slice: 0, include.num %}


<div class="post-viewer">
  {% for post in posts %}

    <a class="post-view nostyle {% if post.coverimg %}has-img{% endif %}" href="{{ post.url | absolute_url }}">
      <span class="header">
        {{ post.pubdate | date_to_string }} |
        <span class="title">{{ post.title }}</span> 
        {% if post.description %} |
          <span class="description">{{ post.description }}</span>
        {% endif %}
      </span>

      <blockquote class="preview">{{ post.content | truncatewords: 40 | strip_html }}</blockquote>

      {% if post.coverimg %}
      <img class="coverimg" src="{{ post.coverimg }}" alt="">
      {% endif %}


    </a>
  {% endfor %}
</div>
