---
---

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#main {
  position: relative;

  padding: calc(100vh / 5 + 100vmin / 32) calc(100vw / 7 + 150vmin / 32) 0
    calc(100vw / 7 + 150vmin / 32); // Position text next to canvas item

  min-height: 100vh;

  h1,
  h2 {
    margin: 0;
  }

  h1 {
    font-size: 6vmin;
  }

  h2 {
    font-size: 4vmin;
  }

  #links {
    text-align: right;
    margin-top: 3em;
  }
}

#more {
  min-height: 100vh;

  padding: 0 3em;

  .link {
    max-width: 25em;

    a::after {
      content: "↗";
      font-family: "DM Mono", monospace;
    }

    .description {
      font-size: 0.6em;
      margin-left: 1em;
      margin-bottom: 1em;
    }
  }
}

#squares {
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -100;
}
