---
---

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#more {
  min-height: 100vh;

  padding: 0 3em;

  .link {
    max-width: 25em;

    .description {
      font-size: 0.6em;
      margin-left: 1em;
      margin-bottom: 1em;
    }
  }
}

#squares {
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -100;
}
