---
---

@import "gel";

section {
  &#content {
    padding: 2rem;

    font-size: 1.3em;

    .container {
      max-width: 1000px;
      margin: 0 auto;

      img {
        width: 100%;

        &.half-image {
          max-width: 490px;
          @media only screen and (max-width: calc(2rem + 980px)) {
            max-width: none;
          }
        }
      }
    }
  }
}
