---
---

@import "gel";

section {
  &#content {
    padding: 2rem;

    font-size: 1.3em;

    .container {
      max-width: 1000px;
      margin: 0 auto;

      img {
        width: 100%;

        &.half-image {
          width: 49%;
          @media only screen and (max-width: 600px) {
            width: 100%;
          }
        }
      }
    }
  }
}
