---
---

$header-heading-color: #fff;
$header-bg-color: #1976D2;
$header-bg-color-secondary: #11bbff;

$section-headings-color: #1188bb;
$body-text-color: #606c71;
$body-link-color: #11bbff;
$blockquote-text-color: #819198;

$hr-border-color: #557788;

$shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);


@import "{{ site.theme }}";

@import "general";
@import "nav";
@import "post_viewer";
@import "footer";