---
---

$header-heading-color: #fff;
$header-bg-color: #1976D2;
$header-bg-color-secondary: #11bbff;

$section-headings-color: #1188bb;
$body-text-color: #606c71;
$body-link-color: #11bbff;
$blockquote-text-color: #819198;

$hr-border-color: #557788;

$shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);


@import "{{ site.theme }}";


body {
  background-image: url("/assets/img/ignasi_pattern_s.png") /* www.toptal.com */; 

}

a.nostyle, a.nostyle:hover, a.nostyle:visited {
  color: $body-text-color;
  text-decoration: none;
}

p {
  text-align: justify;
}

.page-header {
  padding-bottom: 0;
  box-shadow: $shadow;
  z-index: 100;

  // ONly applicable if background_img set in YAML
  background-size: 100% auto; 
  background-position: center;
  
  h1.project-name, h2.project-tagline {
    text-shadow: 0 2px 6px #0007, 0 2px 6px #0007;
  }
}

i.clip-icon {
  display: inline-block;
  width: 100%;
  height: 100%;

  background-image: url("/assets/img/logo-clip.svg");
  background-size: 100% 100%;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

nav {
  display: grid;
  grid-template-columns: 3rem 1fr 1fr 1fr;

  .nav-link {
    margin-bottom: 3px;
    padding: 10px;
    color:  white;

    &:hover {
      text-decoration: none;
    }

    &.selected, &:hover {
      margin-bottom: 0;
      border-bottom: 3px solid white
    }

    &#home {
      padding: 5px;
      width: 100%;
      height: auto;
    }
  }
}

.main-highlight {
  margin-bottom: 1rem;
  padding: 1rem;

  background-color: $code-bg-color;
  box-shadow: $shadow;
}

.page-date {
  display: block;
  text-align: right;
  font-weight: bold;
}

.half-image {
  width: 49%;

  display: inline-block;

  @include small {
    width: 100%;
  }
}

.highlight, thead, tbody {
  background-color: $code-bg-color;
  box-shadow: $shadow;
}

.site-footer {
  border: none;

  display: grid; 
  grid-template-areas: 
  "owner"
  "github"
  "soverflow"
  "reddit"
  "credits"
  "feed";
  
  .right {
    text-align: right;
  }

  #owner {
    grid-area: owner;
  }
  #credits {
    grid-area: credits;
  }
  #feed {
    grid-area: feed;
  }

  #github {
    grid-area: github;
  }
  #soverflow {
    grid-area: soverflow;
  
  }
  #reddit {
    grid-area: reddit;  
  }

  @include large {
    grid-template-areas: 
    "owner      github"
    "credits soverflow"
    "feed       reddit";
  }
}




/*
* Post Viewer
*/

.post-viewer {

  .post-view {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    grid-template-areas: 
    "top   top"
    "quote quote";

    position: relative;

    &.has-img {
      grid-template-areas: 
      "top   top"
      "img quote";

      @include small {
        grid-template-areas: 
        "top     top"
        "img     img"
        "quote quote";
      }
    }
  
    .header {
      grid-area: top;
  
      .title {
        color: $body-link-color;
        font-size: 1.5rem;
      }
    }

    &:hover .header .title {
      text-decoration: underline;
    }
  
    .description {
      font-style: italic;
    }
  
    blockquote.preview {
      margin: 0;
      max-height: 100%;
      overflow: hidden;
      grid-area: quote;

      text-align: justify;

      position: relative;
    }
  
    .coverimg {
      width: 100%;
      height: auto;
      grid-area: img;
    }
  }
}