* {
    box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #ddd;
	background-color: black;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

li::marker {
	color: var(--gel-high);

	font-weight: bold;
}

code {
	font-family: monospace;
	font-size: calc(1em - 2px);
	
	padding: 0.1em 0.2em;

	background-color: #333333;
}

/* Inline */
:not(.content)>code {

	border-bottom: 1px solid var(--gel-low);
}

blockquote {
	margin-left: 0;
	border-left: 4px solid var(--gel-high);
	padding-left: 1em;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

.octicon {
	fill: white;
}

.content img {
	width: 100%;
}

.content .half-image {
	width: 49%;
}