@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=Open+Sans&display=swap');
* {
	box-sizing: border-box;


	--theme-text-font: 'Open Sans', sans-serif;
	--theme-title-font: 'DM Mono', monospace;
	--theme-code-font: 'DM Mono', monospace;

	--theme-text-color: white;

	--theme-background: black;
	--theme-foreground: #222222;
}

body {
	margin: 0;

	font-family: var(--theme-text-font);
	font-size: 14px;
	line-height: 1.5;

	color: var(--theme-text-color);
	background-color: var(--theme-background);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--theme-title-font);
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

li::marker {
	color: var(--gel-high);

	font-weight: bold;
}

code {
	font-family: var(--theme-code-font);
	font-size: calc(1em - 2px);
	
	padding: 0.1em 0.2em;

	background-color: var(--theme-foreground);


	border-left: 0.2em solid var(--gel-high);
}

p code, ol code, ul code {
	border-radius: 0.2em;

	border-left: none;
}

blockquote {
	margin-left: 0;
	border-left: 4px solid var(--gel-high);
	padding: 1px 1px 1px 1em;

	background-color: var(--theme-foreground);
}


@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

.octicon {
	fill: white;
}

.content img {
	width: 100%;
}

.content .half-image {
	width: 49%;
}