#post_list {
    border-collapse: collapse;

    width: 100%;
}


#post_list tr {
    border: solid lightgray;
    border-width: 1px 0px;
}

#post_list tr.new .post_id::before, #post_list tr.pinned .post_id::before {
    z-index: 100;
    position: absolute;
    left: 0;


    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    color: white;
    font-size: 10px;
}

#post_list tr.new .post_id::before {
    padding: 3px 7px 3px 10px;

    content: "NEW";

    background-color: #0C0;
}

#post_list tr.pinned .post_id::before {
    padding: 3px 10px 3px 10px;

    content: "📌";

    background-color: #40C;

}

.post_info {
    padding: 10px 2%;
}

.post_id {
    width: 10%;

    text-align: right;
}

.post_title {
    width: 70%;
    font-size: 20px;
}

.post_title > span {
    max-height: 0;
    font-size: 16px;

    display: block;
    overflow: hidden;

}

.post_title:hover > span {
    max-height: 1000px;;
}

.post_date {
    width: 20%;

    text-align: right;
}

.post_link {
    text-decoration: none;
    color: black;

    display: inline-block;
}

.post_link:hover {
    text-decoration: none;
    color: black;
}

.post_link:visited {
    text-decoration: none;
    color: black;
}